Sprint 4 - Arquivo do Node-Red.json
[
    {
        "id": "e22e59af75800901",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ceff298a24747a23",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#ffba6b",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#28c0e7",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#28c0e7",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#28c0e7",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#28c0e7",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6dd4ef",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#28c0e7",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Tahoma,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "14a631cf4e51746a",
        "type": "serial-port",
        "serialport": "COM10",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "63cd4ad5688b6cb7",
        "type": "ui_tab",
        "name": "Water Watch",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4fe8948ab89c3ecc",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "63cd4ad5688b6cb7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c378b7364bf430fa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-dashboard.com",
        "port": "1883",
        "clientid": "ASEQW3Q232Q1",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bc609e598bcbd17a",
        "type": "serial in",
        "z": "e22e59af75800901",
        "name": "",
        "serial": "14a631cf4e51746a",
        "x": 50,
        "y": 280,
        "wires": [
            [
                "6a38303229b4a73d"
            ]
        ]
    },
    {
        "id": "6a38303229b4a73d",
        "type": "json",
        "z": "e22e59af75800901",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "be3eafd97ed2da37",
                "58fb485ade419d23",
                "09436a3fed725cb0"
            ]
        ]
    },
    {
        "id": "7f1cfc0f87f8bc88",
        "type": "ui_gauge",
        "z": "e22e59af75800901",
        "name": "",
        "group": "4fe8948ab89c3ecc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Fluxo de água",
        "label": "ml",
        "format": "{{value}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "be3eafd97ed2da37",
        "type": "change",
        "z": "e22e59af75800901",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.volume_Total",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "7f1cfc0f87f8bc88",
                "c1d1f7e9e76cb498"
            ]
        ]
    },
    {
        "id": "58fb485ade419d23",
        "type": "debug",
        "z": "e22e59af75800901",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "09436a3fed725cb0",
        "type": "change",
        "z": "e22e59af75800901",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.valor_Conta",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "bc78af56437739d0",
                "073c0dfa5075f666"
            ]
        ]
    },
    {
        "id": "bc78af56437739d0",
        "type": "ui_text",
        "z": "e22e59af75800901",
        "group": "4fe8948ab89c3ecc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estipulação da conta de água",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "c1d1f7e9e76cb498",
        "type": "mqtt out",
        "z": "e22e59af75800901",
        "name": "",
        "topic": "WaterWatch/FluxoDeAgua",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c378b7364bf430fa",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "073c0dfa5075f666",
        "type": "mqtt out",
        "z": "e22e59af75800901",
        "name": "",
        "topic": "WaterWatch/ContaDeAgua",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c378b7364bf430fa",
        "x": 660,
        "y": 400,
        "wires": []
    }
]